.product-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #f4f4f4;
  max-height: 80vh;
  overflow-y: auto;
  margin-bottom: 80px;
}

.product-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

p {
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.4;
}

button {
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  min-width: 140px;
}

button:hover {
  background-color: #008cba;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .product-item-details {
      padding: 15px;
  }

  h1 {
      font-size: 18px;
  }

  p {
      font-size: 14px;
  }

  button {
      width: 100%;
      font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .product-item-details {
      flex-direction: column;
      padding: 20px;
  }

  h1 {
      font-size: 20px;
  }

  p {
      font-size: 14px;
  }

  button {
      width: 100%;
      font-size: 14px;
  }
}

@media (min-width: 1025px) {
  .product-item-details {
      padding: 20px;
      flex-direction: column;
      align-items: center;
  }

  .product-image {
      width: 300px;
  }

  h1 {
      font-size: 24px;
      margin: 15px 0;
  }

  p {
      font-size: 16px;
      margin: 10px 0;
  }

  button {
      width: auto;
      font-size: 16px;
      padding: 12px 25px;
  }
}
